.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.home img{
    width: 40vw;
    height: 40vw;

    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}