.task-container{
    width: 96%;
    height: 5vh;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(162, 87, 236);
    /* border-radius: 10%; */
    background-color: rgb(237, 225, 250);
}

.some-text{
    user-select: none;
    font-size: 20px;
}